
@{
    ViewBag.Title = "AddWorkExperience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="page">
    <div class="width100 header">
        <a class="back left" href="WorkExperience"><img src="/Content/images/carat-l-white.png" /></a>
        添加工作经历
        <a class="next right" href="">保存</a>
    </div>
    <ul class="ulcontent">
        <li>公司名称<img class="right margin-top10 margin-right10" src="/Content/images/right.png" /></li>
        <li class="line"></li>
        <li>任职部门<img class="right margin-top10 margin-right10" src="/Content/images/right.png" /></li>
        <li class="line"></li>
        <li>汇报对象<input type="text" class="text" /></li>
        <li class="line"></li>
        <li>职位名称<img class="right margin-top10 margin-right10" src="/Content/images/right.png" /></li>
        <li class="line"></li>
        <li>下属人数<img class="right margin-top10 margin-right10" src="/Content/images/right.png" /></li>
        <li class="line"></li>
        <li>时间段<img class="right margin-top10 margin-right10" src="/Content/images/right.png" /></li>
    </ul>
    <div class="titleC height30 content">
        职位推荐
    </div>
    <div class="width100 border">
        <textarea class="area"></textarea>
    </div>
</div>

