
@{
    ViewBag.Title = "Expectation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="page">
    <div class="width100 header">
        <a class="back left" href="BaseInfo"><img src="/Content/images/carat-l-white.png" /></a>
        期望工作
        <a class="next right" href="JobStatus">保存</a>
    </div>
    <ul class="ulcontent">
        <li>期望行业<img class="right margin-top10 margin-right10" src="/Content/images/right.png" /></li>
        <li class="line"></li>
        <li>期望职业<img class="right margin-top10 margin-right10" src="/Content/images/right.png" /></li>
        <li class="line"></li>
        <li><ul class="">
            <li>期望工资</li>
            <li><input type="text" class="text" /></li>
            </ul></li>
        <li class="line"></li>
        <li>期望工作地点<img class="right margin-top10 margin-right10" src="/Content/images/right.png" /></li>
    </ul>
</div>

