
@{
    ViewBag.Title = "JobStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="page">
    <div class="width100 header">
        <a class="back left" href="Expectation"><img src="/Content/images/carat-l-white.png" /></a>
        求职状态
        <a class="next right" href="WorkExperience">保存</a>
    </div>
    <ul class="ulcontent">
        <li>在职看看新的机会<img class="right margin-top10 margin-right10" src="/Content/images/right.png" /></li>
        <li class="line"></li>
        <li>在职，急寻机会<img class="right margin-top10 margin-right10" src="/Content/images/right.png" /></li>
        <li class="line"></li>
        <li>在职，所有顾问请勿骚扰<input type="text" class="text" /></li>
        <li class="line"></li>
        <li>离职，正在找工作<img class="right margin-top10 margin-right10" src="/Content/images/right.png" /></li>
    </ul>
    <ul class="ulcontent">
        <li>预计到岗时间</li>
    </ul>
</div>

