
@{
    ViewBag.Title = "WorkExperience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="page">
    <div class="width100 header">
        <a class="back left" href="JobStatus"><img src="/Content/images/carat-l-white.png" /></a>
        工作经历
        <a class="next right">保存</a>
    </div>
    <div class=" height105 width100 whiteBg content">
        <img class="right margin-top40" src="/Content/images/right.png" />
        <div class="title2 height30 width100 padding-left20">
            北京网聘咨询有限公司
        </div>
        <div class="row height30 gray padding-left20">产品经理/校园部</div>
        <div class="row height30 gray padding-left20">2013-至今</div>
    </div>
    <ul class="ulcontent">
        <li style=" text-align:center"><a href="AddWorkExperience">添加工作经历</a></li>
    </ul>
</div>

